<nav id="nav" role="navigation">
  <div class="logo">
    <a href="{{ "/" | relative_url }}"><img src="{{ "/assets/images/logo.svg" | relative_url }}"></a>
  </div>

  
    <span class='title'></span>
    <ul>
    
      <li class='decay-ky1yagdw5na6d5whk7nvjc {% if page.id == 'decay-ky1yagdw5na6d5whk7nvjc' %} active{% endif%}'>
        <a href="{{site.baseurl}}/site/pages/decay-ky1yagdw5na6d5whk7nvjc">
          Decay
          
        </a>
      </li>
    
      <li class='typography-ky1yagdw5na6d5whk7nvjc {% if page.id == 'typography-ky1yagdw5na6d5whk7nvjc' %} active{% endif%}'>
        <a href="{{site.baseurl}}/site/pages/typography-ky1yagdw5na6d5whk7nvjc">
          Typography
          
        </a>
      </li>
    
      <li class='about-ky1yagdw5na6d5whk7nvjc {% if page.id == 'about-ky1yagdw5na6d5whk7nvjc' %} active{% endif%}'>
        <a href="{{site.baseurl}}/site/pages/about-ky1yagdw5na6d5whk7nvjc">
          About
          
        </a>
      </li>
    
    </ul>
  
</nav>